BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
# Force pointers to the type for C++.
PointerAlignment: Right
ColumnLimit: 100
Standard: Cpp11
UseTab: Never
AlwaysBreakTemplateDeclarations: true
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false