# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/tests/x64/Debug
/STNucleoF401/.objs
/STNucleoF401/build
/STNucleoF401/mbed/.hg
/STNucleoF401/.hg
/STNucleoF401/doxygen
